.main {
    .content {
        .inner-content {
            padding: $space-lot 0;
            @include flex(row, flex-start, flex-start);

            .col {
                flex: 1 0 $series-col-width;
                padding-right: $space-more;

                h1 {
                    &.title {
                        font-size: $font-big;
                        color: $series-title-color;
                        text-transform: uppercase;
                        margin: $space-normal 0;
                    }
                }

                p {
                    &.description {
                        font-size: $font-less-little;
                        color: $series-description-color;
                        line-height: $series-description-spacing;
                    }
                }

                + .col {
                    flex: 0 0 $series-col-width;
                }
            }
        }
    }
}
