.inner-details {
    background: $series-details-primary-background;

    .content {
        .inner-content {
            color: $series-details-title-color;
            padding: $space-lot 0;
            @include flex(row, flex-start, flex-start);

            .col {
                flex: 1 0 $series-main-col-width;
                padding-right: $space-more;

                p {
                    &.description {
                        font-size: $font-less-little;
                        color: $series-details-description-color;
                        line-height: $series-details-description-spacing;
                    }
                }

                .big-title {
                    font-size: $font-big;
                    text-transform: uppercase;
                    margin: $space-normal 0;
                }

                .medium-title {
                    font-size: $font-medium;
                    margin: $space-normal 0;
                }

                .inner-title {
                    font-size: $font-little;
                }

                .info {
                    font-size: $font-less-little;
                    font-weight: 500;
                    color: $series-details-info-primary-color;
                    background: $series-details-info-background;
                    border-bottom: 1px solid $series-details-info-border-color;
                    margin-top: $space-medium;
                    margin-bottom: $space-normal;
                    @include flex(row, flex-start, flex-start);

                    .inner-info {
                        padding: $space-normal $space-medium;
                        flex: 0 0 74%;
                        @include flex(row, space-between, center);

                        &:first-of-type {
                            border-right: 1px solid $series-details-info-border-color;
                        }

                        span {
                            &.price {
                                color: $series-details-info-secondary-color;
                            }

                            &.availability {
                                text-transform: uppercase;
                            }

                            &.check-availability {
                                color: $series-details-info-secondary-color;
                                cursor: pointer;
                            }
                        }
                    }
                }

                + .col {
                    flex: 0 0 $series-main-col-width;
                    .adv {
                        span {
                            &.title {
                                font-weight: 500;
                                text-transform: uppercase;
                                margin-bottom: $space-bit;
                                float: right;
                            }
                        }
                    }
                }

                &.w5 {
                    flex: 0 0 $series-col-5-width;
                }
            }
        }
    }

    + .inner-details {
        background: $series-details-secondary-background;
        border-top: 1px solid $series-details-border-color;
        border-bottom: 1px solid $series-details-border-color;

        .content {
            .inner-content {
                padding: $space-bit 0 ($space-lot + $space-lot) 0;

                .item {
                    border-bottom: 1px solid $series-details-border-color;
                    padding: $space-less-than-normal 0;
                    margin-right: $space-normal;
                    @include flex(row, flex-start, flex-start);

                    .inner-item {
                        flex-basis: 160px;

                        a {
                            &.inner-title {
                                color: $series-details-link-color;
                            }
                        }

                        + .inner-item {
                            flex-grow: 1;

                            a {
                                &.upper {
                                    text-transform: uppercase;
                                }
                            }

                            &.right {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
