section#top {
    background: $theme-primary-color;
    .content {
        .inner-content {
            height: $header-top-height;
            @include flex(row, flex-end, center);

            nav {
                color: $item-primary-color;
                @include flex(row, center, center);

                .item {
                    font-size: $item-small-size;
                    margin-left: $item-spacing;
                }
            }
        }
    }
}
