section#main {
    color: $footer-text-color;
    padding: $space-normal 0;

    .inner-content {
        width: 49%;
        @include flex(row, flex-start, flex-start);

        .col {
            .item-group {
                margin-right: $space-more;
                @include flex(column, flex-start, flex-start);

                .item {
                    h1 {
                        font-size: $font-medium;
                        color: $theme-secondary-color;
                        text-transform: uppercase;
                        margin: $space-normal 0;

                        @media screen and (max-width: map-get($breakpoints, md)) {
                            font-size: $font-medium + $font-little;
                        }
                    }

                    a {
                        font-size: $font-little;
                        color: inherit;

                        @media screen and (max-width: map-get($breakpoints, md)) {
                            font-size: $font-medium;
                        }
                    }
                }
            }

            @media screen and (max-width: map-get($breakpoints, sm)) {
                width: 90%;
                margin: 0 auto;
            }
        }

        + .inner-content {
            .item {
                padding-top: $space-normal;
                padding-bottom: $space-normal;

                p {
                    font-size: $font-little;

                    @media screen and (max-width: map-get($breakpoints, md)) {
                        font-size: $font-medium;
                    }
                }
            }
        }

        @media screen and (max-width: map-get($breakpoints, lg)) {
            width: 54%;
        }

        @media screen and (max-width: map-get($breakpoints, md)) {
            width: 100%;
            @include flex(column, flex-start, flex-start);
        }
    }
}
