@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: $content-width;
    margin: 0 auto;

    a {
        text-decoration: none;
    }

    a, span {
        &.primary,
        &.secondary {
            color: inherit;
            cursor: pointer;
        }
    }
}

