@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .05rem;
}

.content {
    width: $content-width;
    margin: 0 auto;

    a {
        text-decoration: none;
    }

    a, span {
        &.primary,
        &.secondary {
            color: inherit;
            cursor: pointer;
        }
    }

    button {
        all: unset;
        cursor: pointer;

        &.primary {
            font-size: $font-less-little;
            font-weight: 500;
            background: $theme-primary-color;
            padding: $space-less-than-normal $space-lot;
        }
    }

    .dropdown {
        &:after {
            @extend %fa-icon;
            @extend .fas;
            position: relative;
            top: .15rem;
            left: .2rem;
            color: inherit;
            content: fa-content($fa-var-caret-down);
        }
    }

    @media screen and (max-width: map-get($breakpoints, xxl)) {
        width: 100%;
        padding: 0 1rem;
    }
}

