/*theme colors*/
$theme-primary-color: #0282f9;
$theme-secondary-color: #fff;

/*sizes*/
$header-top-height: 25px;

/*spacing*/
$item-spacing: 0 2rem;

/*links*/
$link-primary-color: $theme-secondary-color;
