/*content sizes*/
$content-width: 1250px;

/*theme colors*/
$theme-primary-color: #0282f9;
$theme-secondary-color: #fff;
$theme-ternary-color: #1c1c1c;
$theme-quaternary-color: #303030;
$theme-fifty-color: #00a9d9;

/*font-sizes*/
$font-little: .8rem;
$font-less-little: .9rem;
$font-normal: 1rem;
$font-medium: 1.3rem;
$font-big: 1.6rem;

/*text colors*/
$text-primary-color: #464646;
$text-secondary-color: #959595;
$text-ternary-color: #003f5e;
$text-quaternary-color: #555555;

/*spacing*/
$item-spacing: 4rem;
$space-bit: .3rem;
$space-less-than-normal: .5rem;
$space-normal: 1rem;
$space-medium: 1.5rem;
$space-more: 2rem;
$space-lot: 3rem;

/*region header*/

/*colors*/
$item-primary-color: $theme-secondary-color;
$item-secondary-color: $text-primary-color;
$item-secondary-hover-color: $theme-primary-color;

/*sizes*/
$header-top-height: 25px;
$header-main-height: 115px;

/*font sizes*/
$item-small-size: .7rem;
$item-normal-size: 1rem;

/*region jumbo*/
/*paths*/
$jumbo-background-path: "../images/jumbotron.jpg";

/*sizes*/
$jumbo-height: 400px;

/*endregion*/

/*endregion*/

/*region main*/

/*sizes*/
$films-heading-height: 60px;
$card-width: calc(100%/6);
$card-thumb-height: 180px;

/*font sizes*/
$card-title-size: .85rem;

/*region series*/
$series-width: 82%;
$go-back-top-position: -10px;
$go-back-left-position: 40px;
$go-back-background: $theme-secondary-color;
$preview-badge-background: $theme-fifty-color;
$series-details-primary-background: $theme-secondary-color;
$series-details-secondary-background: #f6f6f6;
$series-details-border-color: #e3e3e3;
$series-details-title-color: $text-ternary-color;
$series-details-link-color: $preview-badge-background;
$series-details-info-primary-color: #bafd93;
$series-details-info-secondary-color: $theme-secondary-color;
$series-details-info-background: #55ba59;
$series-details-info-border-color: #357739;
$series-details-description-color: $text-quaternary-color;
$series-details-description-spacing: 1.6rem;
$series-main-col-width: 280px;
$series-col-5-width: 50%;
/*endregion*/

/*endregion*/

/*region footer*/

/*paths*/
$footer-background-path: "../images/footer-bg.jpg";
$footer-placeholder-logo: "../images/dc-logo-bg.png";

/*colors*/
$footer-text-color: $text-secondary-color;
$footer-link-color: $theme-primary-color;

/*sizes*/
$footer-placeholder-logo-size: 540px;
$footer-pie-height: 100px;

/*endregion*/
